.focus-assets-warn {
  .focus-assets-warn-list {
    // background: #000;
    overflow: hidden;
    width: 920px;
    > li {
      background: url("./images/item-bg.png");
      background-size: 100% 100%;
      float: left;
      height: 214px;
      margin-right: 20px;
      padding-top: 16px;
      position: relative;
      width: 164px;
      .focus-assets-warn-info {
        > p {
          color: #cde1fd;
          font-weight: normal;
          margin-bottom: auto;
          text-align: center;
          &.assets-name {
            font-family: "MicrosoftYaHei-Bold";
            font-size: 16px;
          }
          &.assets-ip {
            font-family: "MicrosoftYaHei";
            font-size: 14px;
            margin: 4px 0 2px 0;
          }
          &.area-name {
            font-family: "MicrosoftYaHei";
            font-size: 14px;
            color: rgba(205, 225, 253, 0.8);
          }
        }
      }
      .focus-assets-warn-num {
        position: absolute;
        text-align: center;
        top: 104px;
        width: 100%;
        > span {
          color: rgba(33, 184, 255, 0.8);
          font-family: " MicrosoftYaHei";
          font-size: 18px;
          font-weight: normal;
          &.num-span {
            color: #21b8ff;
            font-family: "D-DIN";
            font-size: 24px;
            font-weight: bold;
            margin-right: 2px;
          }
        }
      }
      .focus-assets-warn-user {
        bottom: 8px;
        position: absolute;
        text-align: center;
        width: 100%;
        > p {
          font-family: "MicrosoftYaHei";
          font-size: 13px;
          font-weight: normal;
          color: rgba(205, 225, 253, 0.6);
          margin-bottom: auto;
          &:nth-of-type(1) {
            > img {
              margin-right: 8px;
              vertical-align: middle;
            }
            span {
              color: rgba(205, 225, 253, 0.8);
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
