.monitoring-report {
  height: 48px;
  overflow: hidden;
  padding-top: 4px;
  position: relative;
  width: 1043px;
  .monitoring-report-list {
    white-space: nowrap;
    > li {
      display: inline-block;
      margin-right: 50px;
      width: 212px;
      .monitoring-report-item-info {
        display: inline-block;
        padding-top: 4px;
        vertical-align: middle;
        > p {
          color: #cde1fd;
          font-family: "MicrosoftYaHei";
          font-size: 12px;
          font-weight: normal;
          margin-bottom: auto;
          &:nth-of-type(2) {
            > span {
              color: rgba(205, 225, 253, 0.6);
              &:nth-of-type(1) {
                margin-right: 8px;
              }
            }
          }
        }
      }
      > img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}
